## Import

In [1]:
import numpy as np
import pandas as pd
import import_ipynb
import io
import networkx as nx
import pydot
from PIL import Image
from io import BytesIO

## QI Selection

In [2]:
df = pd.read_csv('Dataset/Dataset3.csv')
print(df)

        ID                Name                                    Email  \
0        1         Nathan Roth          Nathan_Roth1584442004@brety.org
1        2         Abbey Grady         Abbey_Grady1526558097@supunk.biz
2        3         Mike Rivers           Mike_Rivers125936120@twace.org
3        4        Harry Hunter        Harry_Hunter1608989927@bungar.biz
4        5       Ally Truscott       Ally_Truscott2033161446@ovock.tech
...    ...                 ...                                      ...
7995  7996  Nicholas Armstrong  Nicholas_Armstrong1786717544@nimogy.biz
7996  7997     Alexander Trent       Alexander_Trent225920544@tonsy.org
7997  7998      Ronald Edwards        Ronald_Edwards202912605@tonsy.org
7998  7999        Fred Gardner        Fred_Gardner1951456777@famism.biz
7999  8000         Ron Shields        Ron_Shields2055808448@joiniaa.com

      Gender  Age                   Street    CAP
0       Male   40        Clyde Drive, 3171  16171
1     Female   27        Linden Road, 1957  16104
2       Male   26      Bacton   Grove, 232  16188
3       Male   36   Victorian  Route, 4646  16147
4     Female   43    Blendon    Vale, 2332  16106
...      ...  ...                      ...    ...
7995    Male   29       Cliff  Alley, 5895  16183
7996    Male   41     Cavendish Walk, 7345  16176
7997    Male   26  Baynes  Boulevard, 1938  16125
7998    Male   44    Calverley  Road, 8977  16158
7999    Male   29         Aspen Lane, 8419  16106

[8000 rows x 7 columns]

In [3]:
df['Gender'] = df['Gender'].astype('string')
df['Gender'] = df['Gender'].replace("Male","0").replace("Female","1")
df['Gender'] = df['Gender'].astype('int64')
quasiIdentifier=['CAP', 'Age','Gender']
dfQI= pd.DataFrame(df, columns = quasiIdentifier)

In [4]:
dfQI.describe()

                CAP          Age       Gender
count   8000.000000  8000.000000  8000.000000
mean   16149.218375    34.452000     0.500000
std       28.315855     6.350412     0.500031
min    16100.000000    24.000000     0.000000
25%    16125.000000    29.000000     0.000000
50%    16149.000000    34.000000     0.500000
75%    16174.000000    40.000000     1.000000
max    16198.000000    45.000000     1.000000

# Generation of Graph

## Initialization

In [18]:
# input = [{feature: 'sex', dimension: 1, generalization: 'suppression'}, 
#          {feature: 'zip', dimension: 2, generalization: 'range'}]

graph = nx.DiGraph()

d1 = 2 # dimension of 1 feature 
d2 = 3 # dimension of 2 feature 

nodes = []
edges = []

## Generating the graph using DFS with recursion

In [19]:
def addEdge(e1, e2):
    edges.append((e1, e2))

def concat(a, b):
    a1 = str(a)
    b1 = str(b)
    return str(f"{a1}{b1}")
                
def recursive(f1,f2):

    s = str(f1) + '' + str(f2)
    
    if s not in nodes:
        #print(s)
        nodes.append(s)    
    
    # Go deeper on left side
    if(f2 < d2):
        d = str(f1) + '' + str(f2+1)
        addEdge(concat(f1,f2), concat(f1,f2+1))
        if d not in nodes:
            recursive(f1,f2+1)

    # Go deeper on right side
    if(f1 < d1):
        d = str(f1+1) + '' + str(f2)
        addEdge(concat(f1,f2), concat(f1+1,f2))
        if d not in nodes:
            recursive(f1+1,f2)

## Generation of Graph

In [20]:
#Pass the root node
recursive(0,0)

#print(nodes)
#print(edges)

graph.add_nodes_from(nodes)
graph.add_edges_from(edges)

## Save the graph as image

In [21]:
pydot_graph = nx.drawing.nx_pydot.to_pydot(graph)
Image.open(BytesIO(pydot_graph.create_png())).show()

## Interating each node
### ~ Generate a new dataset
### ~ Check if dataset of this node is K-Anonymous
### ~ Marked it
### ~ Marked all the linked nodes (bottom to top)